<a href="https://colab.research.google.com/github/drshaymac/Online-Retail-Data-Exploration/blob/main/Online_Retail_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
from google.colab import drive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
data = pd.read_csv('/content/drive/MyDrive/Projects/Online_retail_dataset/OnlineRetail.csv', encoding='latin1')

In [27]:
data = data[data['Country'] != "United Kingdom"].reset_index(drop=True)
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
1,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
2,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
3,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
4,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## Check for Negative Values Across Numerical Columns

### Subtask:
Iterate through all numerical columns in the dataset to identify and report any entries with negative values, including the column name and the number of such occurrences.

**Reasoning**:
First, I'll identify the numerical columns using `select_dtypes` and then iterate through them to find and count any negative values, printing the results for each column where they occur.

In [30]:
numerical_cols = data.select_dtypes(include=np.number)

print("Checking for negative values in numerical columns:")
for col in numerical_cols.columns:
    negative_values_count = (numerical_cols[col] < 0).sum()
    if negative_values_count > 0:
        print(f"  Column '{col}': {negative_values_count} negative values found.")
    else:
        print(f"  Column '{col}': No negative values found.")

Checking for negative values in numerical columns:
  Column 'Quantity': 1432 negative values found.
  Column 'UnitPrice': No negative values found.
  Column 'CustomerID': No negative values found.

**Reasoning**:
Now that negative values have been checked, the next step in the comprehensive data quality check is to count and display the number of null values for each column in the `data` DataFrame, as per the main task's requirements.

In [32]:
print("Counting null values per column:")
print(data.isnull().sum())

Counting null values per column:
InvoiceNo         0
StockCode         0
Description       0
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     1480
Country           0
dtype: int64